---
---

@import "asciidoctor";
@import "coderay";

body {
  font-family: "Noto Serif", "DejaVu Serif", serif;
  font-size: 16px;
}

.docs-sidebar {
  padding: 0 20px;
}

.docs-body {
  position: relative;
  max-width: 1000px;

  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 748px) {
  body {
    padding-left: 300px;
  }

  .docs-sidebar {

    margin-top: 0 !important;
    padding: 0 20px;

    position: fixed;
    display: block;

    bottom: 0;
    left: 0;
    top: 0;

    z-index: 1;

    overflow-y: auto;
    width: 300px;

    border-right: 1px solid rgba(0, 0, 0, .07);
    background: #f8f8f7;
  }
}

.list {
  padding: 0;
  margin-left: 0;
  list-style-type: none;

  &__item {

    > a {
      text-decoration: none;
      padding: 3px 0;
      display: block;
    }

    > ul {
      margin-left: 20px;
    }

    &.active > a {
      color: #a53221;
    }
  }
}