{% assign has_children = node.section.size != 0 %}
{% for node in tree %}

{% assign node_url = node.path | prepend: page.version| prepend: "/" | prepend: page.product | prepend: "/" %}
{% assign node_page = site.pages | where: "url", node_url | first %}

<li class="{% if page.url == node_url %}active{% endif %}">
    {% if node.section | size %}
    {% assign id = node.path | replace:'/','_' %}
    <a href="{{ node_page.url }}">
        {{ node_page.title }}
    </a>
    <ul id="{{ id }}" class="articles">
        {% assign tree = node.section %}{% include tree.html %}
    </ul>
    {% else %}
    <a href="{{ node_page.url }}" class="{% if node.path == page.url %}active currentPage{% endif %}">
        {{node_page.title }}
    </a>
    {% endif %}
</li>
{% endfor %}
