.docs-sidebar {
    position: absolute;
    display: block;
    left: 0;
    top: 0;

    bottom: 0;
    z-index: 1;
    overflow-y: auto;
    width: 300px;
    color: #364149;
    background: #fafafa;
    border-right: 1px solid rgba(0,0,0,.07);
}

.docs-sidebar ul.sidebar {
    list-style: none;
    margin: 0;
    padding: 0;
}

.docs-sidebar ul.sidebar li {
    list-style: none;
}

.docs-sidebar ul.sidebar li a {
    display: block;
    padding: 10px 15px;
    border-bottom: none;
    color: #364149;
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    text-decoration: none;
}

.docs-sidebar ul.sidebar li a:hover {
    text-decoration: underline;
}

.docs-sidebar ul.sidebar li.active > a {
    color: #008cff;
    background: 0 0;
    text-decoration: none;
}

.docs-sidebar ul.sidebar li.divider {
    height: 1px;
    margin: 7px 0;
    overflow: hidden;
    background: rgba(0,0,0,.07);
}

.docs-sidebar ul.sidebar ul.articles {
    padding-left: 20px;
}

.docs-body {
    position: absolute;
    left: 300px;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    color: #000;
    background: #fff;
}

.content {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 15px 40px 15px;
}